{% include base_path %}
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    {% if post.title %}
      <h3 class="archive__item-title" itemprop="headline">
        {{ post.title }}
      </h3>
    {% endif %}

    {% if post.start_date %}
      <p class="page__meta">
        <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
        <time datetime="{{ post.start_date | date_to_xmlschema }}">
          {{ post.start_date | date: "%B %Y" }} - {% if post.end_date == "Present" %}Present{% else %}{{ post.end_date | date: "%B %Y" }}{% endif %}
        </time>
        {% if post.venue %} · <i>{{ post.venue }}</i>{% endif %}
      </p>
    {% endif %}

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
    {% endif %}

  </article>
</div>